#bigdiv{
    height: 660px;
    background-image: url('C:/Users/Zenia Kiki/my-frontend/src/pictures/blur1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.containerlogin{
    display: "flex";
    position: fixed;
    margin-left: 470px;
    margin-top: 140px;
    height: 420px;
    background-color: #b33441;
    border-radius: 10%;
    width: 400px;;
  }
  #btnlogin{
    margin-left: 155px;
    margin-top: 50px;
    color: #ac1e2c;
    font-weight: bold;
    font-size: 16px;
  }
.usericon{
    font-size: 100px;;
    margin-left:150px;;
    margin-top: 50px;
    color:rgb(252, 250, 250);
}
.tf1{
    margin-top:20px;
}